<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>get crud</title>
  </head>

  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    table {
      width: 100%;
      font-size: 18px;
    }

    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 4px;
    }

    tr:first-child {
      background-color: #555;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #ddd;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    button {
      display: inline-block;
      border: none;
      background-color: #fff;
      margin-right: 5px;
      padding: 5px;
    }

    button:hover a {
      color: #fff;
    }
    button:hover {
      color: #fff;
      background-color: #333;
    }

    .create-new-user {
      border: 1px solid #000;
      padding: 5px;
      margin: 5px;
      font-size: 18px;
    }
  </style>

  <body>
    <h1>get crud</h1>
    <button class="create-new-user"><a href="/crud">create new user</a></button>
    <table>
      <tr>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>

      <% for(let i=0; i < dataUser.length; i++) { %>
      <tr>
        <td><%= dataUser[i].email %></td>
        <td><%= dataUser[i].firstName %></td>
        <td><%= dataUser[i].lastName %></td>
        <td><%= dataUser[i].address %></td>
        <td>
          <button><a href="">Detail</a></button>
          <button><a href="/edit-crud?id=<%=dataUser[i].id%>">Edit</a></button>
          <button>
            <a href="/delete-crud?id=<%=dataUser[i].id%>">Delete</a>
          </button>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
